@font-face {
  font-family: "Orator-Std-Font";
  src: url("./fonts/Orator-Std-Font.otf"); 
}


h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 500;
  font-family: 'Orator-Std-Font';
}

#footer a {
  color: black; /* Establece el color deseado para los enlaces */
  text-decoration: none; /* Elimina el subrayado */
}
/* ::::::Barra de Navegacion:::::: */

.navbar-nav{
  font-family: 'Orator-Std-Font';   
}


/* ::::::Sector Animado:::::: */

#animacion{
    padding-top: 10%;
    padding-bottom: 10%;
    height: 100%;
    background: radial-gradient(ellipse at bottom, #44afae, #0c0f09);
    overflow: hidden;
}



/* ::::::Secciones:::::: */

.presentacion{
  color:rgb(253, 253, 253)
}

#servicios{
    padding-top: 10%;
    padding-bottom: 10%;
    height: 100%;
    background: radial-gradient(ellipse at bottom, #44afae, #0c0f09);
    overflow: hidden;
}

.card-title{
  height: 110px;
  margin-top: 30px;
}

.nivel{
    color:rgb(253, 253, 253)
}

#ejemplo{
    background-color: rgb(253, 253, 253);
    height: 950px;
    padding-top: 5%;
    
}

#iconos{
    padding-top:10%;
}



/* ::::::Footer:::::: */

#footer{  
    font-family: 'Orator std';
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li {
    list-style-type: none;
    
  }

.footer-inf{
    font-family: 'Orator std';
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #a2b1b1;
}




/*::::::Carrousel imagenes::::::*/


.carousel {
  margin-left: 18%;
  margin-right: 18%;
  margin-top: 5%;
  margin-bottom: 5%;
}

ul.slides {
  display: block;
  position: relative;
  height: 600px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul.slides input {
  display: none; 
}


.slide-container { 
  display: block; 
  
}

.slide-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all .7s ease-in-out;
}   

.slide-image img {
  width: auto;
  min-width: 100%;
  height: 100%;
}

.carousel-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  line-height: 600px;
  color: #fff;
}

.carousel-controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity .2s;
  cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
  opacity: 0.5;
}

.carousel-controls label:hover {
  opacity: 1;
}

.carousel-controls .prev-slide {
  width: 49%;
  text-align: left;
  left: 0;
}

.carousel-controls .next-slide {
  width: 49%;
  text-align: right;
  right: 0;
}

.carousel-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  z-index: 999;
  text-align: center;
}

.carousel-dots .carousel-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  margin: 10px;
}

input:checked + .slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
   display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6,
input#img-7:checked ~ .carousel-dots label#img-dot-7,
input#img-8:checked ~ .carousel-dots label#img-dot-8,
input#img-9:checked ~ .carousel-dots label#img-dot-9 {
opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }



/* ::::::Tours:::::: */

:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section{
  align-items: flex-start;
  background-image: linear-gradient(15deg, #2a6973 150%);
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 990px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}



.card{
  list-style: none;
  position: relative;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}


/* ::::::Formulario:::::: */

.formulario form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
  margin-bottom: 20%;
  margin-left: 20%;
  margin-right: 20%;

}

#campos{
  margin:4%
}