@font-face {
  font-family: "YsabeauInfant";
  src: url("./fonts/YsabeauInfant-VariableFont_wght.ttf"); 
}


html {
  scroll-behavior: smooth;
}

body{
  background-color: #ffffff;
}


h1,
h2,
h3,
h4,
h5,
h6,
p{
  font-family: 'YsabeauInfant';
  text-transform: uppercase;
}


/* ::::::Inicio:::::: */

header{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.logo{
  max-width: 12rem;
}

.nav{
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 4rem;
  position: absolute;
  top: 0;
  left: 25%;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  padding: 4rem;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.3);
}

.nav.visible{
  opacity: 1;
  visibility: visible;
}

.abrir-menu,
.cerrar-menu{
  border: 0;
  background-color: transparent;
  
}

.nav-list{
  list-style-type: none;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.nav-list li a{
  font-family: 'YsabeauInfant';
  font-size: 1.8rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.nav-list a:hover{
  color: #9c27b0;
}

.presentacion{
  background-image: url(./images/fondo3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9) ;
  color: #fdfdfd;
  width: 100vw;
  height: 88vh;
}

.experimenta{
  margin-left: 20vw;
  margin-right: 20vw;
}


#demo-button{
  margin: 10%;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

.redes-vertical{
  position: absolute;
  top: 65vh;
  left: 5vw;
}

.iconos-redes{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.iconos-redes img{
  width: 25px;
}

.vertical-line {
  width: 1px;
  height: 100px;
  background-color: #ffffff;
}

/* ::::::Demo Tour:::::: */ 

.up-icon{
  position: fixed;
  z-index: 9999;
  right: 5%;
  top: 90%;
}

#ejemplo{
  color: #d8d4d4;
  background-color: #ffffff;
  position: static;
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ejemplo iframe{
  height: 600px;
}

#instrucciones{
  color: #646363;
  margin-top: 5%;
  margin-left: 21%;
  margin-right: 21%;
  text-align: center;
}


/* ::::::Lleva tu negocio:::::: */

.nivel{
  color: #00bcd4;
  height: 100%;
}

#servicios{
  background-color: #ffffff;
  margin-top: 3%;
  margin-bottom: 0%;
  padding-top: 3%;
}
.serv-cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}
.serv-icons{
  margin-left: 8%;
  margin-right: 8%;
  padding-top: 12%;
  padding-bottom: 10%;
}

#dispositivos{
  margin: 8%;
}

.nivel{
  text-align: center;
}

.interfaz{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.multiplataforma{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.virtual-reality{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.texto{
  font-size: 25px;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 10%;
  margin-right: 10%;
}

/* ::::::Mas Servicios:::::: */

#mas-serv{
  background-color: #f5f5f5;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mas-serv h1{
  color: #9c27b0;
  margin-top: 15%;
  margin-bottom: 15%;
}
.textserv{
  font-size: 25px;
  width: 500px;
  height: 100px;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 3%;
}
.moreserv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-fotografia {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  width: 800px;
  height: 750px;
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-fotografia a{
  color: #0c96a8;
  text-decoration: none;
}

.contenedor-video {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  width: 800px;
  height: 800px;
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-foto{
  font-size: 25px;
  margin: 3%;
  text-align: center;
  width: 700px;
  height: 800px;
  
}

.card-foto h5{
  font-size: 25px;
  margin-top: 5%;
  margin-bottom: 8%;
  margin-left: 15%;
  margin-right: 15%;
}

.card-video{
  font-size: 25px;
  margin: 3%;
  text-align: center;
  width: 700px;
  height: 800px;
}


.card-video h5{
  font-size: 25px;
  margin-top: 5%;
  margin-bottom: 8%;
  margin-left: 15%;
  margin-right: 15%;
}

.video iframe{
  height: 800px;
  width: 600px;
  
}

.video{
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  height: 350px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*::::::Carrousel imagenes::::::*/

.carousel{
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  height: 800px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* ::::::Ultimos Tours:::::: */ 

#tours h1{
  color: #2dc5d6;
  margin-top: 10%;
  margin-bottom: 10%;
}

.tours-presentacion{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}  

#tours{
  padding-bottom: 5%;
}

/* ::::::Miniaturas Tours:::::: */

:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}


.hero-section{
  align-items: flex-start;
  background-image: linear-gradient(15deg, #2a6973 150%);
  display: flex;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}


.card{
  list-style: none;
  position: relative;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background{
  transform: scale(1.15) translateZ(0);
}


.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 1.3rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}



/* ::::::Confian en nosotros:::::: */

@keyframes scroll {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-200px * 11));
  }
}

.clientes{
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#9c27b0;
  margin: auto;
  gap: 1.5rem;
  
}

.logos-clientes{ 
  position: relative;
  animation: scroll 40s linear infinite;
  width: calc(200px * 11);
  display: flex;
  align-items: center;
}

.slide{
  width: 200px;
}



/* ::::::Promociones:::::: */

.promociones{
 background-image: url("./images/fondo2.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 padding-bottom: 2%;
 width: 100%;
 height: 290px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
}

.btn-outline a{
  font-size: 25px;
  padding-bottom: 4%;
  color: #f5f5f5;
  text-decoration: none;
}

.btn {
  padding: 10px 20px;
  font-size: 10px;
}

.btn img{
  width: 35px;
}


.promociones h3{
  padding-top: 4%;
  text-align: center;
  color: #f5f5f5;
}

/* ::::::Footer:::::: */

#footer a {
  color: #504f4f; /* Establece el color deseado para los enlaces */
  text-decoration: none; /* Elimina el subrayado */
  
}

#footer a:hover {
  color: #feffff; /* Color al pasar el cursor por encima */
}

footer{  
  background-image: linear-gradient(to left,#5ee7df 0%,#b490ca 100%);;
  font-family: 'YsabeauInfant';
  text-transform: uppercase;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.links{
  font-size: 17px;
  margin: 20px;
}

.textfooter{
  margin: 25px;
  color: #504f4f;
}

.iconos-footer{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  
}

.iconos-footer img{
  width: 20px;
  margin-top:  15px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
  
}





/*::::::Responsive::::::*/



@media(min-width: 990px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
  
  .abrir-menu{
    display: none;
  }

  .cerrar-menu{
    display: none;
  }

  .nav-list{
    flex-direction: row;
  }

  .nav{
    opacity: 1;
    visibility: visible;
    justify-content: center;
    bottom: auto;
    top: auto;
    box-shadow: none;
    padding: 1.5rem;
  }

  .nav-list li a{
    font-size: 1.35rem;
  }

  .up-icon{
    position: fixed;
    z-index: 9999;
  }

  .iconos-redes img{
    width: 27px;
  }

  #ejemplo iframe{
    height: 700px;
  }
  #servicios{
    margin-bottom: 0%;
    padding-top: 0%;
  }
  .serv-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .texto{
    font-size: 18px;
  }
  #mas-serv{
    padding-top: 1%;
    padding-bottom: 3%;
  }
  .textserv{
    font-size: 18px;
  }

  .moreserv{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .contenedor-fotografia {
    width: 498px;
    height: 580px;
  }
  
  .contenedor-video {
    width: 498px;
    height: 580px;
  }
  
  .card-foto{
    font-size: 18px;
    width: 326px;
  }
 
  .card-foto h5{
  font-size: 18px;
  } 

  .card-video{
    font-size: 18px;
    width: 326px;
  }
  .card-video h5{
    font-size: 18px;
  }
  .video iframe{
    height: 216px;
    width: 380px;
  }
  
  .video{
    height: 214px;
    width: 385px;
  }
  .carousel{
    height: 214px;
    width: 385px;
  }
  
 
  
 
  .btn img{
  width: 24px;
  }

  footer{  
  font-size: 15px;
  }
  .btn-outline a{
  font-size: 20px;
  }
}


