@font-face {
  font-family: "YsabeauInfant";
  src: url("./fonts/YsabeauInfant-VariableFont_wght.ttf"); 
}


html {
  scroll-behavior: smooth;
  
}

body{
  background-image: url(./images/fondo2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


h1,
h2,
h3,
h4,
h5,
h6,
p{
  font-family: 'YsabeauInfant';
  text-transform: uppercase;
}


/* ::::::Inicio:::::: */

.fondo{
  width: 100%;
  height: 100%;
}

.logo{
  margin-top: 1%;
  margin-left: 2%;
  width: 50px;
}

nav {
  float: right;
  font-family: 'YsabeauInfant';  
  text-transform: uppercase;
  font-size: 22px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  margin-right: 2%;
}

header{
  position: relative;
  bottom: 540px;
}

.presentacion{
  position: relative;
  bottom: 590px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 15%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  color: #fdfdfd;
}

#demo-button{
  margin-top: 10%;
}

.redes-vertical{
  position: relative;
  bottom: 750px;
  margin-left: 5%;
}

.iconos-redes{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.iconos-redes img{
  width: 20px;
  margin-bottom: 25px;
  
}

.vertical-line {
  width: 1px;
  height: 100px;
  background-color: #ffffff;
}

/* ::::::Demo Tour:::::: */ 

.up-icon{
  position: fixed;
  z-index: 9999;
  left: 900px;
  top: 1600px;
}

#ejemplo{
  color: #d8d4d4;
  position: relative;
  bottom: 710px;
  padding-top: 10%;
  padding-bottom: 10%;
  margin: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ejemplo iframe{
  height: 600px;
}

#instrucciones{
  color: #646363;
  margin-top: 5%;
  margin-left: 21%;
  margin-right: 21%;
  text-align: center;
}


/* ::::::Lleva tu negocio:::::: */

.nivel{
  color: #00bcd4;
  height: 100%;
}

#servicios{
  background-color: #ffffff;
  position: relative;
  bottom: 550px;
}
.serv-cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}
.serv-icons{
  margin-left: 8%;
  margin-right: 8%;
  padding-top: 12%;
  padding-bottom: 10%;
}

#dispositivos{
  margin: 8%;
}

.nivel{
  text-align: center;
}

.interfaz{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.multiplataforma{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.virtual-reality{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.texto{
  font-size: 25px;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 10%;
  margin-right: 10%;
}

/* ::::::Mas Servicios:::::: */

#mas-serv{
  background-color: #f5f5f5;
  position: relative;
  bottom: 300px;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mas-serv h1{
  color: #9c27b0;
  margin-top: 15%;
  margin-bottom: 15%;
}
.textserv{
  font-size: 25px;
  width: 500px;
  height: 100px;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 3%;
}
.moreserv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-fotografia {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  width: 800px;
  height: 750px;
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-video {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  width: 800px;
  height: 800px;
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-foto{
  font-size: 25px;
  margin: 3%;
  text-align: center;
  width: 700px;
  height: 800px;
  
}

.card-foto h5{
  font-size: 25px;
  margin-top: 5%;
  margin-bottom: 8%;
  margin-left: 15%;
  margin-right: 15%;
}

.card-video{
  font-size: 25px;
  margin: 3%;
  text-align: center;
  width: 700px;
  height: 800px;
}


.card-video h5{
  font-size: 25px;
  margin-top: 5%;
  margin-bottom: 8%;
  margin-left: 15%;
  margin-right: 15%;
}

.video iframe{
  height: 800px;
  width: 600px;
  
}

.video{
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  height: 350px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*::::::Carrousel imagenes::::::*/

.carousel{
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  height: 800px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* ::::::Ultimos Tours:::::: */ 

#tours h1{
  color: #2dc5d6;
  margin-top: 20%;
  margin-bottom: 10%;
}

.tours-presentacion{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}  

#tours{
  color: #000000;
  position: relative;
  bottom: 200px;
}

/* ::::::Miniaturas Tours:::::: */

:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}


.hero-section{
  align-items: flex-start;
  background-image: linear-gradient(15deg, #2a6973 150%);
  display: flex;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}



.card{
  list-style: none;
  position: relative;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 1.3rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}



/* ::::::Formulario de Contacto:::::: */


#next-btn{
  background-color: #9c27b0;
  font-family: 'YsabeauInfant';
  text-transform: uppercase;
  font-size: 25px;
}

#campos{
  margin: 4%;
}

#campos span{
  background-color: hsl(186, 48%, 76%);
  font-size: 22px;
}

#contacto{
  background-color: #fafafa;
  padding-top: 10%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.contacto-presentacion{
  margin: 8%;
  width: 700px;
  height: 203px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacto-presentacion h1{
  color: #9c27b0;
  margin-bottom: 5%;
}

.textform{
  font-size: 25px;
  width: 500px;
  height: 100px;
  text-align: start;
  margin-top: 5%;
} 

.formulario{
  margin:5%;
  font-family: 'YsabeauInfant';
  text-transform: uppercase;
  width: 700px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 500px;
  height: 203px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* ::::::Footer:::::: */

#footer a {
  color: #504f4f; /* Establece el color deseado para los enlaces */
  text-decoration: none; /* Elimina el subrayado */
  
}


footer{  
  background-image: linear-gradient(to left,#5ee7df 0%,#b490ca 100%);;
  font-family: 'YsabeauInfant';
  text-transform: uppercase;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.links{
  font-size: 17px;
  margin: 20px;
}

.textfooter{
  margin: 25px;
  color: #504f4f;
}

.iconos-footer{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  
}

.iconos-footer img{
  width: 20px;
  margin-top:  15px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
  
}





/*::::::Responsive::::::*/



@media(min-width: 990px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
  
  .logo{
    width: 250px;
  }
  
  nav {
    font-size: 19px;
  }
  
  header{
    position: relative;
    bottom: 1080px;
  }
  
  .presentacion{
    position: relative;
    bottom: 1080px;
    margin-top: 15%;
    margin-left: 30%;
    margin-right: 30%;
  }
  
  .redes-vertical{
    position: relative;
    bottom: 1100px;
    margin-left: 5%;
  }
  
  .iconos-redes img{
    width: 30px;
    margin-bottom: 25px;
  }
  
  .vertical-line {
    height: 150px;
  }
  .up-icon{
    position: fixed;
    z-index: 9999;
    left: 1800px;
    top: 850px;
  }

  #ejemplo{
    position: relative;
    bottom: 780px;
  }
  
  #ejemplo iframe{
    height: 700px;
  }
  #servicios{
    margin-bottom: 10%;
  }
  .serv-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .texto{
    font-size: 18px;
  }
  #mas-serv{
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .textserv{
    font-size: 18px;
  }

  .moreserv{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .contenedor-fotografia {
    width: 498px;
    height: 580px;
  }
  
  .contenedor-video {
    width: 498px;
    height: 580px;
  }
  
  .card-foto{
    font-size: 18px;
    width: 326px;
  }
 
  .card-foto h5{
  font-size: 18px;
  } 

  .card-video{
    font-size: 18px;
    width: 326px;
  }
  .card-video h5{
    font-size: 18px;
  }
  .video iframe{
    height: 216px;
    width: 380px;
  }
  
  .video{
    height: 214px;
    width: 385px;
  }
  .carousel{
    height: 214px;
    width: 385px;
  }
  #contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
  .contacto-presentacion{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  }

  #next-btn{
  font-size: 17px;
  }

  #campos span{
  font-size: 18px;
  }
  
  .textform{
   font-size: 18px;
   text-align: start;
  } 
   
  .contacto-presentacion{
  margin: 8%;
  width: 700px;
  height: 203px;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  .formulario{
  margin: 8%;
  font-family: 'YsabeauInfant';
  text-transform: uppercase;
  width: 700px;
  height: 203px;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  footer{  
  font-size: 15px;
  }
}


